<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>1048822260355-8vou64jv5f4oiiiq089ar28drqm93f2g.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.1048822260355-8vou64jv5f4oiiiq089ar28drqm93f2g</string>
		<key>API_KEY</key>
		<string>AIzaSyBVMSp_Unww6tZtxlFftbbutCsmK0NiSzg</string>
		<key>GCM_SENDER_ID</key>
		<string>1048822260355</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.quranApp</string>
		<key>PROJECT_ID</key>
		<string>quranapp-a18d3</string>
		<key>STORAGE_BUCKET</key>
		<string>quranapp-a18d3.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:1048822260355:ios:d69dabda014f23e58af1b6</string>
	</dict>
</plist>